html, body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: flex;
    width: auto;
    flex-direction: column;
    background-color: #1f2937;
}

.top-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #1f2937;
    width: 50vh;
    height: 15vh;
}

.header-row {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-grow: 3;
    margin-top: 15px;
    width: inherit;
}

.centerpiece-left {
    margin-right: 6px;
    color: #f9faf8;
    width: inherit;
}

.centerpiece-right {
    background-color: #838384;
    color: rgb(223, 206, 206);
    width: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

.awesome {
    font-size: 48px;
    font-weight: bold;
}

.lorem {
    font-size: 18px;
    font-weight: lighter;
}

.sign-up {
    background-color: #3882f6; 
    color: white;
    border: none;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    height: 2em;
    margin-top: 2%;
    width: 7em;
}

.header-right {
    display: flex;
    font-size: 18px;
    font-weight: lighter;
    flex-direction: row;
    gap: 2.5em;
}

.header-left{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.top-centerpiece {
    color: white;
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: center;
    flex-grow: 7;
    margin-top: 10%;
}