:root {
    --dark-bg-color: #1f2937;
    --main-txt-color: #f9faf8;
    --second-txt-color: #e5e7eb;
    --button-color: #3882f6;
    --quote-bg-color: #e5e7eb;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: flex;
    width: auto;
    flex-direction: column;
    background-color: var(--dark-bg-color);
}

.top-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--dark-bg-color);
    width: 50vh;
    height: 20vh;
}

.header-row {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-grow: 3;
    margin-top: 15px;
    width: inherit;
}

.centerpiece-left {
    margin-right: 6px;
    color: var(--main-txt-color);
    width: inherit;
}

.centerpiece-right {
    background-color: #787879;
    color: rgb(223, 206, 206);
    width: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

.awesome {
    font-size: 48px;
    font-weight: bold;
}

.lorem {
    font-size: 18px;
    font-weight: lighter;
}

.sign-up {
    background-color: var(--button-color); 
    color: white;
    border: none;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    height: 2em;
    margin-top: 2%;
    width: 7em;
}

.header-right {
    display: flex;
    font-size: 18px;
    font-weight: lighter;
    flex-direction: row;
    gap: 2.5em;
}

.header-left{
    font-size: 24px;
    color: var(--main-txt-color);
    font-weight: bold;
}

.top-centerpiece {
    color: white;
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: center;
    flex-grow: 7;
    margin-top: 10%;
}

.information-container {
    display: flex;
    flex-direction: column;     
    justify-content: center;
    align-items: center;

    height: 25vh;

    font-size: 42px;
    font-weight: 800;
    color: var(--dark-bg-color);

    margin-bottom: 1.5em;
}

.four-boxes {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 1.1em;
}

.box {
    display: flex;
    flex-direction: column;
    width: 11rem;
}

.blue-border {
    border: solid var(--button-color);
    border-radius: 20px;
    border-width: 4.5px;

    text-decoration: none;
    
    width: inherit;
    height: 11rem;
}

.b-b-subtext {
    font-weight: 350;
    font-size: 18px;
    margin-top: 0.5em;
    word-wrap: break-word;
    padding: 0.1em;
    text-align: center;
}

.quote-container {
    background-color: var(--quote-bg-color);
    height: 25vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.main-quote {
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    color: var(--dark-bg-color);
    max-width: 37vh;
    word-wrap: break-word;
}

.whomst-quoted {
    font-weight: bold;
    align-self: auto;
    position: relative;
    left: 8.5em;
    font-size: 23px;

}

.call-to-action-container {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.call-to-action {
    background-color: var(--button-color);
    color: var(--main-txt-color);
    height: 7vh;
    width: 60vw;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.cta-wrapper {
    display: flex;
    flex-direction: column;
}

.c-t-a-text {
    font-size: 32px;
    font-weight: 400;
}

.c-t-a-text2 {
    font-size: calc(36px*0,6);
    font-weight: 300;
}

.sign-up-2 {
    border: 5px solid var(--main-txt-color);
    border-radius: 8px;
    text-align: center;
    height: 2em;
    width: 7em;
}